<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simplifit">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.simplifit.EditWorkout"/>
        <activity android:name="com.example.simplifit.EditExercise"/>
        <activity android:name="com.example.simplifit.ExercisesActivity"/>
        <activity android:name="com.example.simplifit.EnterWorkout2" />
        <activity android:name="com.example.simplifit.EnterWorkout1" />
        <activity
            android:name="com.example.simplifit.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>